<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/pages/_home.scss">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
</head>
<body>

<div id="container">
  <div id="banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-interval="10" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images.unsplash.com/20/cambridge.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1447&q=80" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1598902596597-728cb15eeb3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" class="d-bloxck w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1569005292573-ba261b647104?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80" class="d-block w-100" alt="...">

        </div>
        <div class="heading">
            <h1 id="main">VenuLet</h1>
            <p id="second">Your dream getaway starts here...</p>
          <div id="btn">
            <%= link_to "Add a listing", new_venue_path, class: "btn", id: "btn-flat" %>
            <%= link_to "Show venues", venues_path, class: "btn", id: "btn-flat" %>
          </div>
        </div>
    </div>
  </div>

    <div class="how-it-works">
      <h2 class="works">How it works</h2>
      <div class="cards">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1526813105516-071ea73f9869?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80">
          <h3 class="card-text">Browse Listings</h3>
        </div>

        <div class="card">
          <%= image_tag "https://images.unsplash.com/photo-1526817609938-a708708cf90f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" %>
          <h3 class="card-text">Book your dream venue</h3>
        </div>

        <div class="card">
           <img src="https://images.unsplash.com/photo-1602081115720-72e5b0a254b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80">
          <h3 class="card-text">Select your dates</h3>
        </div>
      </div>
    </div>
</div>


</body>
</html>
