<div class="map-card-container">
  <%= cl_image_tag venue.photo.key %>
  <div class="map-text">
    <p class="castle-pin"><%= venue.title %></p>
    <p class="location-map-text"> <i class="fa fa-map-pin"></i>  <%= venue.location %></p>
  </div>
</div>
