<div class="container venue">
  <h2>All venues</h2>
  <div class='cards'>
    <% @venues.each do |venue| %>
      <div class="card-header">
        <img src="https://images.unsplash.com/photo-1532568547949-a09f1afe4d1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"/>
      </div>
      <div class="card-body">
        <h2>Name</h2>
      </div>
    <% end %>
  </div>
</div>
