@import "new";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: 'Noto Serif Display', serif;
}

.card-venue {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-height: 470px;
  border-radius: 3px;

  // box-shadow: inset 0 -12px 9px -7px rgba(0,0,0,0.4);
}

.card-header {
  padding: 0;
  margin: 0;
  position: relative;
}

.card-image {
  height: 250px;
  width: 100%;
  background-size: cover;
  position: relative;
  margin: 0;
}

.btn.btn-light.btn-venue {
  background-color: transparent;
  opacity: 0.9;
  transition-duration: 0.3s;
  position: absolute;
  right: 16px;
  bottom: 16px;
  text-shadow: 1px 1px #464646;


  &:hover {
    background-color: #1b4332;;
    opacity: 1;
  }
}

.card-info h3 {
  margin-right: 10px;
  font-family: 'Noto Serif Display', serif;
}

a {
  text-decoration: none;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-price {
  margin-top: 8px;
}

.location-text {
  font-size: 14.3px;
  margin-bottom: 20px;
}

.venues-text {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'Noto Serif Display', serif;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
