.page-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  font-family: 'Noto Serif Display', serif;
  border-bottom: 1px solid rgb(66, 99, 72);
}

.left-container h1 {
  font-family: 'Noto Serif Display', serif;
  padding-top: 20px;
}

// @media (min-width: 100px) {
  .left-container {
    height: 100vh;
    width: 50vw;
    background-color: white;
    padding-top: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: 1px solid rgb(66, 99, 72);
  }
// }
.form-container {
  margin: 0 auto;
  width: 75%;
  // height: 90%;
  input, textarea {
    margin-bottom: 30px;
    border: none;
  }
  #sq_m {
    margin-bottom: 50px;
    width: 90%;
    margin-right: 50px;
  }
  #image {
    margin-bottom: 50px;
    width: 100%;
  }
}

.submit-button {
  padding: 12px 28px;
  width: 100%;
  background-color: rgb(73, 121, 62);
  color: white;
  border: none;
  transition: 0.4s ease;
  &:hover {
    background-color: rgb(156, 194, 156);
  }
}
