#btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1b4332;
  transition: 0.6s;
  box-shadow: 2px 2px 2px 1px rgb(54, 54, 54);
  margin-left: 20px;
}

#btn-flat:hover {
  background:white;
  color: black;
}

#btn {
  margin-top: 20px;
}
