.mapboxgl-popup {
  max-width: 100%;
  box-shadow: 2px 2px 2px 3px rgba(54, 54, 54, 0.2);
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Cinzel decorative', serif;
  padding: 0 !important;
}

.castle-pin{
  font-family: 'Cinzel decorative', serif;
  font-size: 15px;
  margin-bottom: 0;
}

.map-container {
  position: relative;
}

.link {
  position: absolute;
  z-index: 1;
  border: 1px solid white;
  top: 16px;
  left: 16px;
  border-radius: 4px;
  padding: 6px 20px;
  font-size: 20px;
  background-color: #1b4332;
}

.link a {
  color: white;
  font-family: 'Noto Serif Display', serif;
}

.map-card-container {
  margin: 0;
  padding: 0;
  img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

.map-text {
  // display: flex;
  font-size: 20px;
}

.location-map-text {
  font-size: 11px;
  margin-bottom: 0;
}
