.mapboxgl-popup {
  max-width: 150px;
  box-shadow: 2px 2px 2px 3px rgba(54, 54, 54, 0.2);
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Cinzel decorative', serif;
}

.castle-pin{
  font-family: 'Cinzel decorative', serif;
  font-size: 22px;
}

.map-container {
  position: relative;
}

.link {
  position: absolute;
  z-index: 1;
  border: 1px solid white;
  top: 16px;
  left: 16px;
  border-radius: 4px;
  padding: 6px 20px;
  font-size: 20px;
  background-color: #1b4332;
  // box-shadow: 1px 1px 1px 1px rgb(117, 117, 117);
}

.link a {
  color: white;
  font-family: 'Noto Serif Display', serif;
}

.map-button-index-page a{
  border-radius: 4px;
  padding: 4px 7px;
  font-size: 20px;
  background-color: #1b4332;
  border: 1px solid white;
  margin-right: 980px;
  margin-bottom: 17px ;
  color: white;
  font-family: 'Noto Serif Display', serif;
  transition: 0.5s;

}
.map-button-index-page a:visited{
  text-decoration: none;
  color:white
}

.map-button-index-page a:hover {
  transition: 0.5s;
}
