.navbar-lewagon {
  justify-content: space-between;
  background: rgba(50, 93, 39, 0.8);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  letter-spacing: 1.2px;
}
