.navbar-lewagon {
  justify-content: space-between;
  background-color: #1b4332;
  transition: 0.2s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

.navbar-brand {
  letter-spacing: 1.2px;
}

.nav-link {
  color: white !important;
}

#logo img {
  width: 100px;
  color: white;
}

// .navbar-lewagon-white {
//   background-color: white;
// }
