.owner-info{
  border: 1px solid black;
  width: 50px;
  margin-left: 40px;
}
.line-divider {
  border: 0.5px solid black;
  margin-bottom: 20px;
}
.extra-card {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
#star {
  color: #1b4332;
  margin-left: 0;
  font-size: 20px;
}
#pin {
  color: #1b4332;
}

.host-user {
  font-family: 'Noto Serif Display', serif;
  margin: 0;
  font-size: 20px;
}
.text {
  font-family: 'Noto Serif Display', serif;
  font-size: 20px;
}
.price {
  font-family: 'Noto Serif Display', serif;
  margin-bottom: 0 !important;
}
.show {
  font-family: 'Noto Serif Display', serif;
  margin-bottom: 0 !important;
}

.title-host {
  font-family: 'Noto Serif Display', serif;
}

.meter {
  font-family: 'Noto Serif Display', serif;
  font-size: 20px;
  margin-bottom: 0 !important;
}

.title {
  font-family: 'Noto Serif Display', serif;
  font-size: 40px;
}
