.owner-info{
  border: 1px solid rgb(200, 200, 200);
  width: 50px;
  margin-left: 40px;
  padding: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding-top: 20px;
}
.line-divider {
  border: 0.4px solid black;
  margin-bottom: 20px;
}
.extra-card {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
#star {
  color: red;
  margin-left: 340px;
  font-size: 16px;

}
#pin {
  color: red;
}
.host-user {
  font-family: 'Noto Serif Display', serif;
  margin: 0;
  font-size: 20px;
}
.text {
  font-family: 'Noto Serif Display', serif;
  font-size: 20px;
}
.price {
  font-family: 'Noto Serif Display', serif;
  margin-bottom: 0 !important;
  padding-top: 10px;
}
.show {
  font-family: 'Noto Serif Display', serif;
  margin-bottom: 0 !important;
}

.title-host {
  font-family: 'Noto Serif Display', serif;
}

.meter {
  font-family: 'Noto Serif Display', serif;
  margin-bottom: 0 !important;
}

.description {
  font-family: 'Noto Serif Display', serif;
  font-size: 18px;
}
